*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.real{
    width: 1000px;
    height: 600px;
    margin: auto;
    /* border: 1px solid; */
    background-color: gold;
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
}
.main_box{
    width: 30%;
    height: 90%;
    /* border: 1px solid; */
    display: flex;
    margin-top: 25px;
    margin-left: 5px;
}
.box1{
    width: 50%;
    background-color: green;
}
.box2{
    width: 50%;
    background-color: orange;
}
.center_photo{
    width: 60%;
    height: 90%;
    margin-top: 25px;
    background-image: flower.jpeg;
    border: 1px solid;
}
img{
    width: 100%;
    height: 100%;
}